/* Recursos externos */
@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reglas generales */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.fondoDestacado{
    background: #00669f;
}

h3{
    font-size: 48px;
    line-height: 56.25px;
    background: #1cd1b0;
    padding-left: 25px;
}

h1{
    font-size: 72px;
    line-height: 84.38px;
    color: #FFFFFF;
    padding-left: 25px;
    -webkit-box-shadow: 0px 8px 4px -4px rgba(0,0,0,0.6); 
    box-shadow: 0px 8px 4px -4px rgba(0,0,0,0.6);
}

h2{
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}


p {
    font-size: 36px;
    line-height: 42.19px;
    color: #333333;
}


/* Pie de página*/

footer {
    position: relative;
    height: 162px;
    margin-top: 200px;
}

footer p{
    color: #fff9f9;
    padding: 60px;
    text-align: center;
}

footer img {
    position: absolute;
    top: 47px;
    right: 77.89px;
    bottom:47.64px;
}


/* Tarjetas */

.tarjetas {
    background: #f3f3f3;
    width: 805px;
    height: 872px;
    margin: 0 auto;
    position: relative;
    top: -140px;
    padding: 194px 44px;
    -webkit-box-shadow: 0px 8px 4px -4px rgba(0,0,0,0.6); 
    box-shadow: 0px 8px 4px -4px rgba(0,0,0,0.6);
}

.tarjetas p {
    padding: 32px;
}

/*
.avatar {
    height: 352px;
    width: 352px;
    position: absolute;
    top: -176px;
    left: 227px; 
}

.avatar img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
*/
.batman{
    background-image: url(../img/batman.jpg);
    background-position-x: 57%;
}

.mujerMaravilla {
    background-image: url(../img/wonderw.jpg);
    background-size: 700px;
    background-position-x: center;
}

.superman {
    background: url(../img/superman.jpg);
    background-size: 700px;
    background-position-x: 45%;
}

.avatar{
    border-radius: 50%;
    width: 352px;
    height: 352px;
    position: absolute;
    top: -176px;
    left: 227px; 
    background-repeat: no-repeat;
}

.batmanBg {
    background: url(../img/bg-batman.jpg);
}

.mujerMaravillaBg {
    background: url(../img/bg-wonderw.jpg);
}

.supermanBg {
    background: url(../img/bg-superman.jpg);
}

.batmanBg,.mujerMaravillaBg,.supermanBg {
    height: 555px;
    width: 806px;
    border-radius: 67px;
    margin: 47px auto;
    text-align: left;
    padding-top: 44.59px;
    padding-left: 57px;
    background-position: center center;
    background-size: cover;
}


/* Botones */

a {
    font-size: 36px;
    width: 345px; 
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 40px 0;
    
}
.botonMas {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    font-size: 55px;
    position: sticky;
    margin-right: 106px; 
    bottom: 106px;
}

/* Páginas complementarias */

.enConstruccion {
    margin: 50px auto;
}