/* Recursos externos */
@import url(https://use.fontawesome.com/releases/v5.15.3/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reglas generales */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.fondoDestacado{
    background: #00669f
}

h3{
    font-size: 48px;
    line-height: 56.25px;
    background: #1cd1b0;
    padding-left: 25px;
}

h1{
    font-size: 72px;
    line-height: 84.38px;
    color: #FFFFFF;
    padding-left: 25px;
}

h2{
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    text-align: center;
}


p {
    font-size: 36px;
    line-height: 42.19px;
    color: #333333
}

button {
    font-size: 36px;
    line-height: 42.19px;  
    height: 114px;
    width: 345px; 
    border-radius: 7px;
    display: block;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

/* Pie de página*/

footer {
    position: relative;
    height: 162px;
    margin-top: 338px;
}

footer p{
    color: #fff9f9;
    padding: 60px;
    text-align: center;
    }

footer img {
    position: absolute;
    top: 47px;
    right: 77.89px;
    bottom:47.64px;
}


/* Arreglando tarjetas */

.tarjetas {
    background: #f3f3f3;
    width: 805px;
    height: 872px;
    margin: 0 auto;
    position: relative;
    top: -140px;
    padding: 194px 44px;
}

.tarjetas p {
    padding: 32px
}


.cara {
    height: 352px;
    width: 352px;
    position: absolute;
    top: -176px;
    left: 227px; 
}

.cara img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.batman{
    background: url(../img/bg-batman.jpg);

}

.mujerMaravilla {
    background: url(../img/bg-wonderw.jpg)
}

.superman{
    background: url(../img/bg-superman.jpg)
}

.batman,.mujerMaravilla,.superman {
    height: 555px;
    width: 806px;
    border-radius: 67px;
    margin: 47px auto;
    text-align: left;
    padding-top: 44.59px;
    padding-left: 57px;
    background-position: center center;
    background-size: cover;
}

.botonMas {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    font-size: 55px;
    position: fixed;
    right: 106px;
    bottom: 106px;
}

/* Páginas complementarias */

.enConstruccion {
    margin: 50px auto;
}